/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
  --header-height: 4rem;

  /*========== Colors ==========*/
  --first-color: #196B94;
  --first-color-light: #2d87b4;
  --first-color-lighten: #D3F1FF;
  --title-color: #313844;
  --text-color: #4c5255;
  --body-color: #fff;
  --container-color: #fff;
  
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  --biggest-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  // Responsive typography
  @media screen and (min-width: 968px){
    --biggest-font-size: 2.75rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
}

/*========== Font weight ==========*/
--font-semi-bold: 600;
--font-bold: 700;

/*========== Margins ==========*/
--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed:100 ;
}