/*=============== CONTACT ===============*/
.contact {
  margin-bottom: var(--mb-2);

  &__description {
    text-align: center;
    margin-bottom: var(--mb-1-5);
  }

  &__form {
    gap: 0.5rem;
    padding-right: 10%;
    padding-left: 10%;
    justify-content: center;
  }

  &__field {
    margin-bottom: var(--mb-1-5);
    padding: 0.5rem;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    border: 1px solid var(--text-color);
    border-radius: 0.25rem;
  }
}

.form {
  &__label-required {
    color: #fd2626;
  }

  &__text {
    height: 180px;
    resize: none;
  }

  &__verification {
    margin-bottom: var(--mb-1-5);
  }
}