/*=============== WORKS ===============*/
.works {
  &__container {
    gap: 1rem;
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__data {
    text-align: center;
  }

  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }

  &__description {
    margin-bottom: var(--mb-1-5);
    text-align: initial;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: .5rem;
  }
}